#brand-story {
    background: url("../img/[1320x320] banner section 2.png") no-repeat;
}

#featurette-section {
    overflow: hidden;
}

.brand-title {
    text-shadow: 0 0 10px #FFFFFF;
}

.featurette-heading {
    font-size: 2rem;
}

.featurette-content {
    line-height: 2rem;
    font-size: 1rem;
}

.featurette-section {
    overflow: hidden;
}

.sticky-text {
    font-size: .75rem;
}

@media screen and (max-width: 768px) {
    #brand-story {
        border-radius: 5% !important;
        transform: scale(0.95) !important;
        background-size: auto 100%;
        background-position: center;
    }

    .brand-title {
        font-size: 6.8vw !important;
    }
    
    #sticky-bar {
        display: none !important;
    }

    #sec-1 {
        margin-top: 10vw;
    }

    .featurette-section {
        text-align: center;
    }

    .featurette-heading {
        font-size: 5vw;
        text-transform: capitalize;
    }

    .featurette-content {
        text-align: justify;
        font-size: 3.2vw;
        line-height: 6vw;
    }

    .brand-img {
        padding: 0 !important;
        transform: scale(0.9) !important;
    }
}