#brand-story {
    background: url("../img/hidden-bg.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
}

.featurette-heading {
    font-size: 2rem;
}

.featurette-content {
    line-height: 2rem;
    font-size: 1rem;
}

.featurette-section {
    overflow: hidden;
}

.sticky-text {
    font-size: .75rem;
}

@media screen and (max-width: 768px) {
    #sticky-bar {
        display: none !important;
    }

    #sec-1 {
        margin-top: 10vw;
    }

    .featurette-section {
        text-align: center;
    }
}