/* #fast-info-section {
    margin-top: 100px !important;
} */

.fast-title {
    text-transform: uppercase;
}

.fast-subtitle {
    font-size: 0.9vw;
    color: #c72127;
}

.sub-title-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .fast-paragraph {
        text-align: justify;
        font-size: 3vw;
    }

    .fast-title {
        font-size: 6vw !important;
        text-align: center;
    }

    .fast-subtitle {
        font-size: 4.5vw;
    }

    .sub-title-mobile {
        display: block;
    }

    .sub-title-desktop {
        display: none;
    }
}