/* #fast-info-section {
    margin-top: 100px !important;
} */

.fast-title {
    text-transform: uppercase;
}

.fast-subtitle {
    font-size: 0.8vw;
    color: gray;
}

@media screen and (max-width: 768px) {
    .fast-paragraph {
        text-align: justify;
        font-size: 3vw;
    }

    .fast-title {
        font-size: 6vw !important;
        text-align: center;
    }

    .fast-subtitle {
        font-size: 5vw;
    }
}