.featured-item {
    height: 200px;
}

.featured-text {
    color: white;
    text-transform: uppercase;
}

.featured-title {
    text-transform: uppercase;
}


@media screen and (max-width: 768px) {
    .featured-title {
        font-size: 5.7vw !important;
        
    }

    #featured {
        margin-top: 5vw !important;
    }
}