#header-start > a {
    text-transform: capitalize;
}

#mobile-nav {
    display: none;
}

@media screen and (max-width: 768px) {
    #header-start, #header-end {
        display: none !important;
    }

    #mobile-nav {
        display: flex;
        justify-content: space-around;
        padding: 3vw;
        text-transform: uppercase;
    }
}