#header-section {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#header-start>a {
    text-transform: capitalize;
}

#mobile-nav {
    display: none;
}

@media screen and (max-width: 768px) {

    #header-start,
    #header-end {
        display: none !important;
    }

    #main-logo {
        width: 65%;
    }

    #header-middle {
        margin: 20px;
        text-align: center;
    }

    #mobile-nav {
        display: flex;
        justify-content: space-around;
        padding: 3vw;
        text-transform: uppercase;
    }

    #mobile-nav > a {
        font-size: 2.8vw;
    }
}