@font-face {
    font-family: Helvetica;
    src: url('../font/Helve/HelveticaNeue.otf');
}

@font-face {
    font-family: Helvetica;
    font-weight: bold;
    src: url('../font/Helve/HelveticaNeue-Bold.otf');
}

@font-face {
    font-family: Helvetica;
    font-style: italic;
    src: url("../font/Helve/HelveticaNeue-Italic.otf");
}

@font-face {
    font-family: Helvetica;
    font-weight: light;
    src: url("../font/Helve/HelveticaNeue-Light.otf");
}

*,
html {
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none !important;
}

.alter-divider {
    margin: 0 !important;
}

.contact-form-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
}   