@font-face {
    font-family: Helvetica;
    src: url('../font/Helve/HelveticaNeue.otf');
}

@font-face {
    font-family: Helvetica;
    font-weight: bold;
    src: url('../font/Helve/HelveticaNeue-Bold.otf');
}

@font-face {
    font-family: Helvetica;
    font-style: italic;
    src: url("../font/Helve/HelveticaNeue-Italic.otf");
}

@font-face {
    font-family: Helvetica;
    font-weight: light;
    src: url("../font/Helve/HelveticaNeue-Light.otf");
}

*,
html {
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none !important;
}

.alter-divider {
    margin: 0 !important;
}

/* FOOTER SECTION */
.contact-form-title {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .contact-form-subtitle {
        font-size: 0.8rem;
    }

    footer {
        text-align: left !important;
    }
    
    .footer-img {
        width: 70%;
    }

    .co-info > h5 {
        font-size: 4vw;
    }

    .co-info > h6 {
        margin-bottom: 10px !important;
    }

    .co-info > p {
        font-size: 3vw
    }

    #footer-contact-form input, #emailHelp, .confirm-check, #footer-contact-form button {
        font-size: 0.7rem;
    }

}