#san-pham {
    background: url("../img/[1320x350] banner section 1.png") no-repeat;
    height: 300px;
}

#product-section-title {
    text-shadow: 0 0 10px #FFFFFF;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 90px
}

.owl-prev span,
.owl-next span {
    font-size: 80px;
    font-family: ui-monospace !important;
}

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
}

.container>.nav>.nav-item>.active {
    background: black !important;
    color: white !important;
}

@media screen and (max-width: 768px) {
    #san-pham {
        transform: scale(0.95) !important;
        background-size: auto 100%;
        background-position: center;
        height: 150px;
    }

    #product-section-title,
    #product-section-title>span {
        font-size: 7.3vw !important;
        line-height: 10vw;
    }

    .product-tab-name {
        font-size: 3vw !important;
    }
}