#san-pham {
    background: url("../img/hidden-bg.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 90px
}

.owl-prev span, .owl-next span {
    font-size: 80px;
    font-family: ui-monospace !important;
}

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
}

.container > .nav > .nav-item > .active {
    background: black !important;
    color: white !important;
}