#san-pham {
    background: url("../img/[1320x350] banner section 1.png") no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 90px
}

.owl-prev span, .owl-next span {
    font-size: 80px;
    font-family: ui-monospace !important;
}

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
}

.container > .nav > .nav-item > .active {
    background: black !important;
    color: white !important;
}

@media screen and (max-width: 768px) {
    #san-pham {
        transform: scale(0.95) !important;
    }
    
    #product-section-title, #product-section-title > span {
        font-size: 4.5vw !important;
        line-height: 7vw;
    }

    .product-tab-name {
        font-size: 3vw !important;
    }
}