#mo-ta,
#related-product {
    background: url("../../img/[1320x350] banner section 1.png") no-repeat;
    transform: scale(0.985);
}

#mo-ta-text,
#related-text {
    font-size: 2vw;
}

.product-title-main {
    font-size: 2vw;
}

.product-title {
    font-size: 1vw;
}

.pricing {
    font-size: 1.5vw;
}

.short-des,
.feature-list,
.feature>div,
.buy>span,
.main-des * {
    font-size: 1vw;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 90px
}

.owl-prev span,
.owl-next span {
    font-size: 80px;
    font-family: ui-monospace !important;
}

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
}

@media screen and (max-width: 768px) {
    #mo-ta, #related-product {
        transform: scale(0.95);
    }

    #mo-ta-text,
    #related-text {
        font-size: 2.5vh;
        font-weight: bold;
    }

    .product-title-main {
        font-size: 2.2vh;
        margin-top: 2vh;
    }

    .product-title {
        font-size: 1.2vh;
    }

    .pricing {
        font-size: 2.2vh;
    }

    .short-des,
    .feature-list,
    .feature>div,
    .buy>span,
    .main-des * {
        font-size: 1.5vh;
    }
}